body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.pricing-cards-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.pricing-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgpa(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: tranform 0.3s ease-in-out;
  flex: 1;
  max-width: 300px;
  margin-bottom: 20px;
}

.pricing-card:hover {
  transform: scale(1.05);
}

h2 {
  color: #333;
}

.price {
  font-size: 1.5em;
  color: #27ae60;
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

li {
  margin: 5px 0;
}

.order-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.order-btn:hover {
  background-color: #2980b9;
}
